.logo {
    height: 30px;
    width: 10px;
    margin: 10px;
}


.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0 !important;
}

.logo-text {
    color: brown;
    font-size: 18px;
}


.ant-layout-footer {
    background: #1a1a1a;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    font-weight: 600;
}

.header-text {
    text-align: right;
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-size: 18px;
    color: darkslategrey;
    font-weight: 600;
}

.site-layout .site-layout-background {
    background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.ant-menu-item span.item {
    font-size: 18px;
    padding-left: 24px;
}

li.ant-menu-item {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.content {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}


.ant-page-header  {
    padding: 5px 0 !important;
}

.ant-page-header-heading-title  {
    height: 40px;
    padding-left: 12px !important;
}
